input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   display: none;
}
input[type=number] {
   -moz-appearance:textfield;
}
@media screen and (max-width: 574px) {
   .custom-small-container.border-b-none {
      border-bottom: none!important;
   }
   .otp-field-wrap {
      width: 40px;
   }
}