input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   display: none;
}
input[type=number] {
   -moz-appearance:textfield;
}
/* React Timezone Css Starts Here */
.select-wrapper .css-1okebmr-indicatorSeparator {display: none;}
.css-319lph-ValueContainer,
.css-17adf03-Sa {padding: 0!important;}

.select-wrapper .css-1pahdxg-control,
.select-wrapper .css-1s2u09g-control:focus,
.select-wrapper .css-1s2u09g-control {
   min-height: initial;
   border: none;
   box-shadow: none;
   text-align: left;
}
.css-qc6sy-singleValue,
.css-14el2xx-placeholder {
   grid-area: initial!important;
   margin:0!important;
   padding: 0.875rem 1rem;
   position: absolute;
   top: 0;
   left: 0;
   text-indent: 5px;
   font-size: 1rem;
   line-height: 1.25rem;
   font-weight: 400;
   color: rgb(var(--color-fieldNoFocus) / 1)!important;
   font-family: 'InterRegular'!important;
   width: 100%;
   height: 51px;
   padding-right: 50px;
}
.css-6j8wv5-Input,
.css-17gmw14-Sa,
.css-1usy4l0-Sa {
   grid-area: initial!important;
   grid-template-columns: initial!important;
   margin:0!important;
   padding:0!important;
}
.css-6j8wv5-Input:after,
.css-17gmw14-Sa:after,
.css-1usy4l0-Sa:after {
   display: none!important;
}
.css-6j8wv5-Input input[type="text"],
.css-17gmw14-Sa input[type="text"],
.css-1usy4l0-Sa input[type="text"] {
   min-width: 100%!important;
   border: 1.5px solid rgb(var(--color-fieldOutline) / 1)!important;
   border-radius: 4px!important;
   padding: 0.875rem 1rem!important;
   font-size: 1rem!important;
   line-height: 1.25rem!important;
   font-weight: 400!important;
   color: rgb(var(--color-black) / 1)!important;
   font-family: 'InterRegular'!important;
   grid-area: initial!important;
   margin-bottom: 1.75rem!important;
   opacity:1!important;
}
.css-4ljt47-MenuList,
.css-dwfvof-Sa {
 padding-top: 0!important;
 padding-bottom: 0!important;  
}
.css-dwfvof-Sa >div:last-child,
.css-4ljt47-MenuList >div:last-child {
   border-bottom: none!important;
}
.css-1hb7zxy-IndicatorsContainer,
.css-89lswr-Sa {
   position: absolute;
   right: 10px;
   top: 0;
   height: 51px;
}
.css-tlfecz-indicatorContainer svg {
   color: rgb(var(--color-primary) / 1);
}
.css-9gakcf-option,
.css-26l3qy-menu {
   top: 51px!important;
   margin: 0!important;   
   border-radius: 0 0 4px 4px!important;
   box-shadow: none!important;
   border: 1px solid rgb(var(--color-fieldOutline)/1);
   border-top: none;
   font-size: 16px;
   font-family: 'InterRegular';
   color:rgb(var(--color-fieldNoFocus)/1);
}
.select-wrapper .css-1pahdxg-control .css-14el2xx-placeholder {
   color: rgb(var(--color-placeholder)/1)!important;
}
.select-wrapper .css-1pahdxg-control svg {
   transform: rotate(180deg);
   color: rgb(var(--color-primary)/1);
}
.select-wrapper input[type="text"][aria-expanded="true"] {
   border-color: rgb(var(--color-primary)/1)!important;
   border-radius: 4px 4px 0 0!important;
   border-bottom-color: rgb(var(--color-black)/1)!important;
}
.css-9gakcf-option {
   background: rgb(var(--color-primary)/1)!important;
}
.css-1n7v3ny-option {
   background: rgb(var(--color-fieldOutline)/1)!important;
}
.css-9gakcf-option,
.css-1n7v3ny-option,
.css-yt9ioa-option:hover, 
.css-yt9ioa-option {text-align: left!important; border-radius: 0!important; padding: 13px 16px!important; border-bottom: 1px solid rgb(var(--color-fieldOutline)/1); cursor: pointer!important;}
.select-wrapper .css-1pahdxg-control ~ .css-26l3qy-menu {border-color: rgba(0, 77, 246,1);}
/* React Timezone Css Ends Here */

@media screen and (max-width: 574px) {
   .custom-small-container.border-b-none {
      border-bottom: none!important;
   }
   .otp-field-wrap {
      width: 40px;
   }
}